In [2]:
import time
import numpy as np
import pandas as pd

# Pandas

In [18]:
# creando un pandas Series 
arreglo = np.random.randn(10)
serie = pd.Series(arreglo)
print(serie)

# agregando indices a una serie
serie = pd.Series(arreglo, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(serie)

print(serie['f'])
print(serie[['a', 'b', 'c']])

0    0.272400
1   -1.803082
2    0.225457
3    1.552082
4    0.098939
5    0.322911
6   -0.384535
7   -0.397422
8   -1.342229
9    1.526144
dtype: float64
a    0.272400
b   -1.803082
c    0.225457
d    1.552082
e    0.098939
f    0.322911
g   -0.384535
h   -0.397422
i   -1.342229
j    1.526144
dtype: float64
0.3229109133035295
a    0.272400
b   -1.803082
c    0.225457
dtype: float64

In [24]:
# serie con llave/valor
serie = pd.Series({'dia1': 34, 'dia2': 36, 'dia3': 43, 'dia4': 45, 'dia5': 55})
print(serie)

muestra_serie = serie[['dia1','dia3','dia5']]
print(muestra_serie)

dia1    34
dia2    36
dia3    43
dia4    45
dia5    55
dtype: int64
dia1    34
dia3    43
dia5    55
dtype: int64

In [39]:
# creando un dataframe
datos = {
    "ventas": [31,89,23,94,87],
    "fecha": ["02/08/2022", "03/08/2022", "04/08/2022", "05/08/2022", "06/08/2022"]
    }

datos_df = pd.DataFrame(datos)

print(datos_df)

# viendo una ubicacion especifica
print(datos_df.loc[0])
print(datos_df.loc[2:4])
print(datos_df.loc[[0,2,4]])


# agregando indices a los datos
datos_df = pd.DataFrame(datos, index=['dia1', 'dia2', 'dia3', 'dia4', 'dia5'])
print(datos_df)

# viendo un elemento especifico
print(datos_df.loc['dia4'])

   ventas       fecha
0      31  02/08/2022
1      89  03/08/2022
2      23  04/08/2022
3      94  05/08/2022
4      87  06/08/2022
ventas            31
fecha     02/08/2022
Name: 0, dtype: object
   ventas       fecha
2      23  04/08/2022
3      94  05/08/2022
4      87  06/08/2022
   ventas       fecha
0      31  02/08/2022
2      23  04/08/2022
4      87  06/08/2022
      ventas       fecha
dia1      31  02/08/2022
dia2      89  03/08/2022
dia3      23  04/08/2022
dia4      94  05/08/2022
dia5      87  06/08/2022
ventas            94
fecha     05/08/2022
Name: dia4, dtype: object

In [62]:
# cargando archivos csv
datos_df = pd.read_csv('data.csv')
#print(datos_df)

pd.options.display.max_rows=160

datos_df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [54]:
# Cargando json
datos_df = pd.read_json('data.json')
datos_df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]